.card {
  width: 348px; /* Adjust to the width of your card */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures content fits within the border radius */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

.card-image-container {
  background-color: #000; /* Background color of the image container */
}

.card-image {
  display: block;
  width: 70%; /* Set the image width to 70% of its container */
  height: auto; /* Maintain the aspect ratio of the image */
  border-bottom: 5px solid #c0c0c0; /* Border color under the image */
  margin: 0 auto; /* Auto margin on both sides to center the image */
  border-radius: 8px; /* Rounded corners for the entire image */
  object-fit: cover; /* Cover the area of the element, might crop the image */
  padding-top: 10px;
  border-top-left-radius: 10px; /* Rounded top-left corner for the image */
  border-top-right-radius: 10px; /* Rounded top-right corner for the image */
}

.card-content {
  padding: 20px; /* Padding around content */
  text-align: center;
}

.rental-period {
  color: #ff4500; /* Orange text for rental period */
  font-size: 1.2rem;
  font-weight: bold; /* Larger font size */
  margin-bottom: 10px; /* Space below the rental period */
}

.bid-details {
  display: flex;
  justify-content: space-between; /* Space between bid details */
  margin-bottom: 20px; /* Space below the bid details */
}

.bid-info {
  text-align: left;
  font-weight: bold;
}

.bidder-name,
.highest-bid {
  font-size: 1rem; /* Regular font size for bid values */
  color: #333; /* Dark grey color */
}

.buy-now-btn {
  background-color: #ff4500; /* Orange background for button */
  color: #ffffff; /* White text for button */
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded edges for button */
  font-size: 1rem;
  cursor: pointer; /* Cursor pointer for button */
  text-transform: uppercase; /* Uppercase text for button */
}

.buy-now-btn:hover {
  background-color: #e03e00; /* Darker shade for hover effect */
}
